*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

thead{
    background-color: rgb(73, 168, 205);
    color: white;
}

thead tr td{
    padding: 10px;
}