.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    max-width: 350px;
    position: relative;
  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    color: white;
  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: white;
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #007bff;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
    color: white;
}

main{
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%,-50%);
}

.logo{
    color: #007bff;
}

h1{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
}

table{
    width: 800px;
}

thead{
    background-color: #007bff;
    color: white;
}

thead tr td{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.btn1{
    background-color: #007bff;
    border: none;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 2rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Formulaire */

section{
    background-color: #007bff;
    display: none;
}

.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #007bff;
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    color: white;
}

.container form{
    padding: 5% 10%;
    width: 400px;
}

div{
    margin-top: 5%;
}

select{
    width: 100%;
    padding: 0.6rem;
    border: 2px solid #fff;
    color: #fff;
    background-color: #007bff;
    border-radius: 20px;
    font-size: 100%;
}

#svg{
    width: 10px;
    padding: 1%;
    margin-top: 20px;
}

input::placeholder{
    padding: 5px;
    font-size: 1rem;
}

.box{
    display: flex;
    gap: 10px;
}

#envoyer{
    background-color: #fff;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.5%;
    width: 100%;
    border: none;
    cursor: pointer;
    color: #007bff;
}


#annuler{
    background-color: rgb(162, 16, 16);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.5%;
    width: 100%;
    cursor: pointer;
    border: none;
}

tbody tr td{
    text-align: center;
    font-size: 1.5rem;
    font-size: 600;
    border-bottom: 1px solid #007bff;
}