*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    font-size: 62.5%;
}

main{
    position: absolute;
    top: 30%;
    left: 50%; 
    transform: translate(-50%,-50%);
}

h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 4rem;
}

table{
    width: 800px;
}

thead{
    background-color: #007bff;
    color: white;
}

thead tr td{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.btn1{
    background-color: #007bff;
    border: none;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin-bottom: 2rem;
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Formulaire */

section{
    background-color: #007bff;
    display: none;
}

.container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.15);
}

h2{
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
}

.container form{
    padding: 5% 10%;
    width: 400px;
}

div{
    margin-top: 5%;
}

input, select{
    width: 100%;
    padding: 1%;
    border: none;
    outline: none;
    color: rgba(0,0,0,0.5);
}

#svg{
    width: 10px;
    padding: 1%;
    margin-top: 20px;
}

input:active{
    border-bottom: 2px solid #007bff;
}

input::placeholder{
    padding: 5px;
    font-size: 1rem;
}

.box{
    display: flex;
    gap: 10px;
}

#envoyer{
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.5%;
    width: 100%;
    border: none;
    cursor: pointer;
}


#annuler{
    background-color: rgb(162, 16, 16);
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2.5%;
}

tbody tr td{
    text-align: center;
    font-size: 1.5rem;
    font-size: 600;
    border-bottom: 1px solid #007bff;
}